@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 20, 20, 20;
    --background-end-rgb: 5, 5, 5;
    --card-background-start-rgb: 54, 54, 54;
    --card-background-end-rgb: 45, 45, 45;
    --font-title: "Montserrat", sans-serif;
    --font-text: "Roboto", sans-serif;
    --accent-color: #000
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.title {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.card {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          rgb(var(--card-background-start-rgb)),
          rgb(var(--card-background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: --font-title, sans-serif;
}

